@charset "utf-8";
/* CSS Document */
.flexbox{
display: flex;
border: 2px solid #088A4B;
background-color:#DA81F5;
padding: 80px;
width: 100%;
}
#amarillo{
padding: 60px;
margin: 60px;
background-color:#F7FE2E;
}
#naranja{
padding: 60px;
margin: 60px;
background-color:#FF4000;
}
#lila{
padding: 60px;
margin: 60px;
background-color:#9F81F7;
}
